 <title>Overview!</title>
    </head>
    <body>
        <div class="container">
            <h1>GraphStock app</h1>
            <p>this app should eventually use API data to build graphs, upon them the user can decided how to make his best investments decisions </p>
            {{!-- <img src= "overview.png" /> --}}



{{!-- Heroku picture -  --}}
             <img src="https://filedn.eu/lQDUgOn0tSUSHAjS7BW7uyy/overview.png" class="img-fluid" alt="overview">

    {{!-- Normal local host  --}}
             {{!-- <img src="overview.png" class="img-fluid" alt="overview"> --}}

        </div>