 <title>Overview!</title>
    </head>
    <body>
        <div class="container">
            <h1>GraphStock app</h1>
            <p>this app should eventually use API data to build graphs, upon them the user can decided how to make his best investments decisions </p>
            {{!-- <img src= "overview.png" /> --}}


{{!-- for heroku : src= http://localhost:8080/overview.png --}}

             <img src="http://localhost:8080/overview.png" class="img-fluid" alt="overview">

        </div>